{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock %}

{% block search-bar %}
{% endblock %}

{% block content %}
     <form method="get" action="{% url 'rooms:search' %}">
        <div>
            <label for="city">City</label>
            <input value="{{ city }}" type="text" name="city" placeholder="Search by City" id="city">
        </div>
        <div>
            <label for="country">Country</label>
            <select name="country" id="country">
                {% for country in countries %}
                    <option value="{{ country.code }}" {% if country.code == s_country %}selected{% endif %}>{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="room_type">Room Type</label>
            <select name="room_type" id="room_type">
                <option value="0" {% if s_room_type == 0 %}selected{% endif %}>Any Kind</option>
                {% for room_type in room_types %}
                    <option value="{{ room_type.pk }}" {% if s_room_type == room_type.pk %}selected{% endif %}>{{ room_type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="price">Price</label>
            <input value="{{ price }}" type="number" placeholder="Price" name="price" id="price">
        </div>
         <div>
             <label for="guests">Guests</label>
             <input value="{{ guests }}" type="number" placeholder="Guests" name="guests" id="guests">
         </div>
         <div>
            <label for="beds">Beds</label>
            <input value="{{ beds }}" type="number" placeholder="Beds" name="beds" id="beds">
        </div>
         <div>
            <label for="bedrooms">Bathrooms</label>
            <input value="{{ bedrooms }}" type="number" placeholder="Bed Rooms" name="bedrooms" id="bedrooms">
        </div>
        <div>
            <label for="baths">Baths</label>
            <input value="{{ baths }}" type="number" placeholder="Baths" name="baths" id="baths">
        </div>
        <div>
            <label for="instant">Instant Book Only?</label>
            <input type="checkbox" name="instant" id="instant" {% if instant %}checked{% endif %}>
        </div>
        <div>
            <label for="superhost">By Superhost Only?</label>
            <input type="checkbox" name="superhost" id="superhost" {% if superhost %}checked{% endif %}>
        </div>
        <div
            <h3>Amenities</h3>
            <ul>
                <li>
                {% for amenity in amenities %}
                    <label for="a_{{ amenity.pk }}">{{ amenity.name }}</label>
                    <input
                            id="a_{{ amenity.pk }}"
                            name="amenities"
                            type="checkbox"
                            value="{{ amenity.pk }}"
                            {% if amenity.pk|slugify in s_amenities %}checked{% endif %}>
                    <br>
                {% endfor %}
                </li>
            </ul>
        </div>
        <div>
            <h3>Facilities</h3>
            <ul>
                <li>
                {% for facility in facilities %}
                    <label for="f_{{ facility.pk }}">{{ facility.name }}</label>
                    <input
                            id="f_{{ facility.pk }}"
                            name="facilities"
                            type="checkbox"
                            value="{{ facility.pk }}"
                            {% if facility.pk|slugify in s_facilities %}checked{% endif %}>
                    <br>
                {% endfor %}
                </li>
            </ul>
        </div>

         <button type="submit">Search</button>
    </form>

    <h3>Results</h3>

    {% for room in rooms %}
        <h3>{{ room.name }}</h3>
    {% endfor %}

{% endblock %}